/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  /* filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/********* NavBar ***********/
#logo-png {
  margin-top: 28px;
  height: 19px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  align-self: flex-start;
  margin-top: 14px;
}
#hebergements,
#activites {
  padding-top: 14px;
}
#activites {
  margin-left: 70px;
}
#hebergements:hover,
#activites:hover {
  border-top: solid var(--main-color) 2.5px;
  color: var(--main-color);
}

/********* Section Rechercher ***********/
.booki-heading p {
  margin-top: 0;
}
.booki-heading h1 {
  margin-top: 60px;
  margin-bottom: 8px;
}
#search {
  height: 50px;
}
.form-search {
  margin-top: 3%;
  display: flex;
  height: 50px;
}
.fa-location-dot {
  color: #000000;
}
.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  width: 49px;
  border: solid var(--main-bg-color) 1px;
  border-radius: 15px 0px 0px 15px;
}

#search-input {
  width: 192px;
  text-align: center;
  border: none;
  border-top: solid var(--main-bg-color) 1px;
  border-bottom: solid var(--main-bg-color) 1px;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
}
#search-input::placeholder {
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
#search-input:focus {
  border-bottom: solid var(--filter-bg-color) 2px;
}
#search-input:focus::placeholder {
  color: transparent;
}
#search-btn {
  width: 132px;
  background-color: var(--main-color);
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#search-btn:hover {
  background-color: #1d77ff;
}

.magnifying-glass-icon {
  display: none;
}
.magnifying-glass-icon i {
  color: white;
}
/**********  Filtres  **********/
.container-filters {
  margin-top: 3%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */ /*C'est pour plus tard pour mettre le mot filtres en haut et les 4 filtres en bas*/
}

.title-filters {
  padding-right: 1%;
}

.container-filters h3 {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
}
.clickable-filters {
  display: flex;
  flex-wrap: wrap;
}
.clickable-filters i {
  margin-left: 12px;
  margin-right: 9px;
}
.clickable-filters h3 {
  padding-right: 15px;
}
.clickable-filters a {
  border: solid var(--main-bg-color) 2px;
  border-radius: 25px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.clickable-filters a:hover {
  background-color: var(--filter-bg-color);
}

/********* message info  ***********/
.info-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.info-icon {
  min-width: 24px;
  height: 24px;
  border: solid var(--main-bg-color) 1px;
  border-radius: 100%;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-icon i {
  padding-bottom: 2px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.container-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.container-hebergements .card-rating {
  margin-bottom: 5px;
}
.hebergements a {
  padding: 5px;
  height: 100%;
  display: block;
}
.hebergements .card {
  display: block;
  flex: 0 0 calc(33.333% - 20px);
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
}
.hebergements .card-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.hebergements img {
  width: 100%;
  height: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements .card-title {
  margin-top: 2%;
  margin-bottom: 2%;
}

.hebergements .card-subtitle {
  font-size: 14px;
  margin-top: 0%;
  margin-bottom: 2%;
}

.afficher-plus-title {
  font-size: large;
  font-weight: bolder;
  margin: 45px 0px 0px;
}

/********* Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/********* Section Activités ***********/
.activites-section {
  max-width: 95%;
  padding: 0 2.5%;
}
.activites-section h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}
.activites-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 0 25px;
}

.activites-container img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activites-container .card {
  flex: 25%;
  padding: 0;
}
.activites-container .card-title {
  margin-left: 18px;
}

/*********** footer ************/
footer {
  margin-top: 65px;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}
.container-footer {
  display: flex;
  justify-content: space-between;
}
.footer-sections {
  width: 33%;
  padding: 0 10px 0 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/******** Media queries ***********/
/* @media (max-width: 1184px) and (min-width: 1024px) {
  .hebergements h3 {
    font-size: small;
  }
} */
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .container-filters {
    /* flex-wrap: wrap; */
    align-items: flex-start;
    flex-direction: column;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards article {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  /* Body */
  body {
    margin: 0;
  }
  /* Main Container */
  .main-container {
    width: 100%;
    padding: 0;
    /* background-color: grey; */
  }
  /* Nav-Bar */
  nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  #hebergements,
  #activites {
    width: 50%;
    margin: 0;
    padding: 10px 1% 15px;
    text-align: center;
  }
  #hebergements:hover,
  #activites:hover {
    border-top: none;
    border-bottom: solid var(--main-color) 2.5px;
    color: var(--main-color);
  }

  /* Section Rechercher */
  .booki-heading h1 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .booki-heading p {
    margin-top: 0;
  }
  .recherche-filtres {
    padding: 0 20px;
  }

  #search-input {
    width: 235px;
    text-align: left;
    padding-left: 20px;
  }

  /* Filtres */
  .title-filters {
    margin-bottom: 10px;
  }
  .container-filters h3 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
  }
  .clickable-filters #familial {
    padding-right: 60px;
  }
  .clickable-filters #romantique {
    padding-right: 20px;
  }
  .clickable-filters #nos-pepites {
    padding-right: 24px;
  }
  .clickable-filters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 10px;
  }
  .clickable-filters a {
    border: solid var(--main-bg-color) 2px;
    border-radius: 25px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  /* bouton */
  #search-btn {
    position: relative;
    right: 12px;
    width: 49px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .btn {
    display: none;
  }
  .magnifying-glass-icon {
    display: inline;
    color: white;
  }
  /* Hebergements And Populaires */
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  /* Hebergements */
  .hebergements-and-populaires .hebergements {
    background-color: white;
    padding: 30px;
  }
  /* Populaires  */
  .hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
    border-radius: 0px;
  }
  .populaires {
    width: 100%;
  }
  .populaires-cards {
    flex-direction: column;
    width: 100%;
  }
  .populaires-cards article {
    width: 100%;
  }
}
